body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
.usernameblock {
  float: right;
  width: 500px;
  font-size: 125%;
}
.usernameblock > select {
  font-size: 1em;
  border: 1px solid black;
}
.usernameblock > input {
  font-size: 1em;
  border: 1px solid black;
}
.usernameblock > button {
  font-size: 1em;
}
